<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 必须: BLE权限描述 -->
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>此App需要蓝牙权限来连接体脂秤进行测量</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>此App需要蓝牙权限来连接体脂秤</string>
</dict>
</plist>
